.contact {
  display: grid;
  grid-template-columns: 0.5fr 5fr 5fr;
  align-items: center;
  /* overflow: hidden; */
  scroll-snap-align: center;
  height: 100vh;
}

.grid2 {
  flex: 40%;
  z-index: 10;
  text-align: center;
}

.grid3 {
  flex: 60%;
  position: relative;
}

.globe {
  position: absolute;
  top: 0%;
  left: 40%;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.form-body h1 {
  text-align: center;
  color: cyan;
}

form {
  padding-right: 5px;
}

form div {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}

form div input {
  height: 40px;
  width: 100%;
  border-bottom: 1px dashed gray;
  background: none;
}

form div textarea {
  width: 100%;
  border-bottom: 1px dashed gray;
  background: none;
}

form div button {
  border: 1px solid cyan;
  height: 40px;
  width: 150px;
  border-radius: 7px;
  color: cyan;
  margin: 5px auto;
}
button:hover {
  background: cyan;
  color: black;
  font-weight: bold;
}

.contact-icon {
  width: 50px;
  height: 50px;
  margin: 20px auto 0px auto;
  color: cyan;
}

.grid1 {
}

.social-icon {
  width: 100%;
  height: 100%;
  margin: 20px auto 0px auto;
  color: cyan;
}
