.navmain {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 60px;
  backdrop-filter: blur(7px);
}

.navmain a {
  margin: 0 1rem;
  text-decoration: none;
  padding: 5px 7px;
}

.navmain a:hover {
  color: cyan;
}

.navmain a.active {
  color: cyan;
  border-bottom: 3px solid cyan;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: cyan;
  outline: none;
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .navmain {
    backdrop-filter: none;
  }
  .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .navmain nav {
    position: fixed;
    top: 2%;
    right: 2%;
    height: 55%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: black;
    transition: 0.6s;
    transform: translate(110%, -100%);
    background-image: linear-gradient(
      to bottom right,
      rgb(2, 45, 43),
      rgb(2, 89, 101)
    );
    border-radius: 15px;
  }

  .navmain .responsive_nav {
    transform: none;
  }

  .nav-close-btn {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }
}

.greeting{
  font-weight: 600;
  align-items: center;
  color: cyan;
}