.footer-main {
  background: black;
}

.up-section {
  display: flex;
  padding-top: 20px;
}

.footer-left {
  width: 70%;
  padding-right: 20%;
}

.footer-left > h1 {
  font-size: larger;
  color: cyan;
  margin-bottom: 5px;
}
.footer-left > p {
  font-size: 14px;
}

.footer-right {
  width: 30%;
}
.footer-right > h2 {
  font-size: large;
  font-weight: 500;
  padding-left: 11px;
}

.footer-footer {
  margin: 30px 0;
  padding-top: 10px;
  display: flex;
  font-size: small;
  justify-content: center;
  border-top: dotted 1px white;
}

@media only screen and (max-width: 600px) {
  .footer-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-small;
  }

  .up-section {
  display: inherit;
 
}

.footer-left {
  width: 100%;
  padding-right: 10px;
}

.footer-right {
  width: 100%;
  padding-top: 20px;
}
}
