.App {
  /* background-image: url(./components/asset/bg.jpg);
  background-size: cover; */
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.App::-webkit-scrollbar {
  display: none;
}
