.inner-text{
 justify-content: start;
padding: 10px;
text-align: center;
}

.inner-text > h2{
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.inner-text > p{
    font-size: .9rem;
    
}